<h1>New tasks</h1>

<% if @task.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @task.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<form action="/tasks" method="post">
  <label for="task_name">Name</label>
  <input id="task_name" name="name" type="text">
  <label for="task_status">Done?</label>
  <input id="task_status" name="status" type="checkbox">
  <button>Create Task</button>
</form>
