<h1><%= @task.name %></h1>

<p>Name: <%= @task.name %></p>
<p>Status: <%= @task.status %></p>

<p><a href="/tasks/<%= @task.id %>/edit">Edit</a></p>
<p><a href="/tasks">Return to Tasks listing</a></p>


